{% include directory ~ '/includes/region--header.html.twig' %}
<section class="container faq-container">
    <h1>FAQ</h1>
    <div class="faq-accordions tabs"></div>
    <div class="faq-d-none">
        {{ page.content }}
    </div>
</section>
{% include directory ~ '/includes/region--footer.html.twig' %}