{% include directory ~ '/includes/region--header.html.twig' %}
{% include directory ~ '/includes/uber-uns-slider.html.twig' %}
<section class="about-content container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-7">
            {{ page.block_contents.uber_uns_content_title }}
            {{ page.block_contents.uber_uns_content_body }}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="img-fluid">
                {{ page.block_contents.uber_uns_content_image }}
            </div>
        </div>
    </div>
</section>
<br>
<section class="page-section timeline-container">
    <div class="container">
        <a name="geschichte"></a>
        <h3 class="text-center">Geschichte der Ilgmietauto</h3>
        <br>
        <br>
        <div class="timeline">
            <div class="timeline__wrap">
                {{ page.content }}
            </div>
        </div>
        {#<div class="timeline">#}
            {#<div class="timeline__wrap">#}
                {#<div class="timeline__items">#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>10. Jan 1987</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus. Lorem#}
                                {#ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>10. Nov 1989</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>23. März 1990</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>28. Juli 1999</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>09 Jul 2014</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus. Lorem#}
                                {#ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>30 Aug 2014</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>15 Sep 2014</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>01 Nov 2014</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>10 Dec 2014</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>29 Jan 2015</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="timeline__item">#}
                        {#<div class="timeline__content">#}
                            {#<img src="/themes/ardit/images/history-img1.png" alt="" class="img-fluid">#}
                            {#<h2>3 Mar 2015</h2>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque#}
                                {#condimentum lacus dapibus.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

            {#</div>#}

        {#</div>#}

    </div>
</section>

{% include directory ~ '/includes/region--footer.html.twig' %}