{% include directory ~ '/includes/region--header.html.twig' %}
{% include directory ~ '/includes/uber-uns-slider.html.twig' %}

<div class="container team-container">
    {{ page.content }}
</div>

{% include directory ~ '/includes/region--footer.html.twig' %}