{% include directory ~ '/includes/region--header.html.twig' %}
<style>
    header nav.navbar{
        background:white !important;
    }
</style>
    <section class="reservierung-rd" id="reservierung">
        <div class="frame-spinner"><i class="fas fa-spinner fa-spin"></i></div>
        {#<iframe src="https://kunden2.cx9.de/ilg/reservierung_rd/cars&PHPSESSID=4qj01f6vodq3odn9lm37evmf24?startstation=001&endstation=001&region=&startdatetime=1542706200000&enddatetime=1542792600000&kategorie-select=&abholDatum=20.11.2018&abholZeit=10%3A30&abgabeDatum=21.11.2018&abgabeZeit=10%3A30" frameborder="0"></iframe>#}
    </section>
{#{% include directory ~ '/includes/region--footer.html.twig' %}#}