<footer role="contentinfo" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 f-cols">
                <h3>HAUPTMENU</h3>
                <br>
                <ul>
                    <li><a href="#" class="col-white">Home</a></li>
                    <li><a href="#" class="col-white">Mietfahrzeuge</a></li>
                    <li><a href="#" class="col-white">Über uns</a></li>
                    <li><a href="#" class="col-white">FAQ</a></li>
                    <li><a href="#" class="col-white">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 f-cols">
                <h3>INFORMATIONEN</h3>
                <br>
                <ul>
                    <li><a href="#" class="col-white">Preise</a></li>
                    <li><a href="#" class="col-white">Mietbedingungen</a></li>
                    <li><a href="#" class="col-white">Flottenmiete</a></li>
                    <li><a href="#" class="col-white">Verkehrsbussen</a></li>
                    <li><a href="#" class="col-white">AGB</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-6 f-cols">
                <h3>BITTE UM RÜCKRUF</h3>
                <br>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group"><input type="text" name="firma" class="form-control site-input"
                                                       placeholder="Firma"></div>
                        <div class="form-group"><input type="text" name="vorname_name" class="form-control site-input"
                                                       placeholder="Vorname Name*" required></div>
                        <div class="form-group"><input type="text" name="email" class="form-control site-input"
                                                       placeholder="E-Mail*" required></div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group"><input type="text" name="telefon" class="form-control site-input"
                                                       placeholder="Telefon*" requried></div>
                        <div class="form-group"><textarea type="text" name="nachricht" id="fTextarea" class="form-control site-input"
                                                          placeholder="Nachricht"></textarea></div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group"></div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <button class="btn footer-btn">Senden</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 f-link">
                <p><a href="#">Impressum</a> | <a href="#">Datenschutzerklärung</a></p>
                <p><a href="#">Copyright by ilgauto ag</a> | <a href="https://www.bexeo.com" target="_blank">Powered
                        by Bexeo
                        GmbH</a></p>
            </div>
        </div>
    </div>
</footer>