<section class="preise-bg bg-content">
    {{ page.slider.uber_uns_slider_image }}
    <div class="container">
        {{ page.slider.uber_uns_slider_title }}
        {{ page.slider.uber_uns_slider_subtitle }}
    </div>
</section>