<section class="preise-bg bg-content">
    {{ page.slider.personenwagensliderimage }}
    <div class="container">
        {{ page.slider.personenwagen_slider_title }}
        {{ page.slider.personenwagen_slider_subtitle }}
    </div>
</section>